@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

html {
  scroll-behavior: smooth;
}

body {
  background: #0B0F19;
  color: #F9FAFB;
  font-family: Inter, sans-serif;
}